.Footer{
  box-sizing: border-box;
  margin: 0;
}
.footer {
  background-color: #527853;
  font-family: 'Segoe UI', sans-serif;
  padding: 0;

}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  gap: 30px;
  margin-bottom: 50px;
  padding: 30px 10px;
}

.footer-column {
  flex: 1 1 200px;
  min-width: 200px;
  color: white;
  text-align: left;
}

.footer-logo {
  width: 100%;
  margin: -10% 0 -15% -30%;
}

.footer-desc {
  font-size: 14px;
  line-height: 1.4;
  font-weight: 600;
  width: 80%;
}

.footer-column .judul h4 {
  font-size: 20px;
  margin-bottom: 0px;
}
.footer-column .judul{
  display: flex;
  margin: 0;
  text-align: center;
  gap: 8px;
}
.footer-column .judul i{
  font-size: 22px;
  margin-top: 4px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin-left: 37px;
}

.footer-column ul li {
  margin-bottom: 2px;
}

.footer-column ul li a {
  color: white;
  text-decoration: none;
}

.footer-column ul li a:hover {
  text-decoration: underline;
}
.desc{
  margin-left: 38px;
}
.desc p{
  margin-bottom: 5px;
}
.social-icons{
  margin-top: 30px;
}
.social-icons a{
  margin-right: 10px;
  color: #FFFFFF;
}
.social-icons .fab{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #235842;
  color: white;
  font-size: 18px;
  transition: background-color 0.3s, color 0.3s;
}

.social-icons img {
  width: 24px;
  height: 24px;
  color: #FFFFFF;
}

.footer-column .sentence{
  width: 120%;
  margin-left: -50px;
  margin-bottom: 20px;
}

.subscribe-form {
  display: flex;
  /* flex-wrap: nowrap; */
  background-color: #FFFFFF;
  margin-top: 10px;
  border-radius: 100px;
  padding: 0.5rem;
  margin-left: -50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  width: max-content;
}

.subscribe-form .email-input {
  flex: 1;
  padding: 0.45rem 1rem;
  border: none;
  border-radius: 100px;
  outline: none;
  font-size: 1rem;
}

.subscribe-form button {
  padding: 0.45rem 1rem;
  color: white;
  background-color: #235842;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  font-weight: 600;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.subscribe-form button:hover {
  background-color: #e0e0e0;
  color: #235842;
}

.footer-decoration {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 0px;
}

.footer-decoration img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0;
  padding: 0;
}