.sdgs-section {
  padding: 40px 20px;
  text-align: center;
}

.sdgs-text h1 {
  font-size: 48px;
  font-weight: bold;
  color: #235842;
  margin-bottom: 40px;
  line-height: 1.5;
}

.highlight-orange {
  color: #f68c1f;
}
.highlight-red {
  color: #f68c1f;
}
.highlight-sdgs {
  color: #f68c1f;
}

.sdgs-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
}

.sdg-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
  font-size: 0;
}

.sdg-icon {
  position: relative;
  width: 364px;
  height: 645px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 20px;
  cursor: pointer;
  transition: transform 0.5s ease;
}
.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 14px;
  font-weight: 600;
  font-family: 'Segoe UI', sans-serif;
  letter-spacing: 0.5px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.6);
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease;
  text-align: center;
  padding: 0px;
  z-index: 2;
}
.overlay-text p {
  max-width: 90%;       
  padding: 10 10px;      
  margin: 0;             
  box-sizing: border-box;
}

.sdg-icon:hover .overlay-text {
  opacity: 1; 
}
.sdg-icon:hover img {
  opacity: 0;
}
.goal-number {
  font-size: 60px;
  font-weight: bold;
  color: rgba(255, 255, 255, 1); 
  line-height: 1;
  margin-bottom: 10px;
}
.goal-title {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.sdg-icon img {
  width: 80px; 
  height: 80px;
  object-fit: contain;
  border-radius: 10px;
  z-index: 1; 
  box-shadow: 0 2px 5px rgba(0,0,0,0.2); 
  transition: transform 0.5s ease;
}

.sdg-icon:hover {
  transform: scale(1.1); 
  z-index: 1; 
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.5);
  justify-content: center;
}

.sdg-7 {
   background-image: url('assets/img/picture\ sdg\ 7.png');
}
.sdg-7:hover {
  background-image: none;
  background-color: #FBC412;
}

.sdg-12 {
   background-image: url('assets/img/picture\ sdg\ 12.png');
}
.sdg-12:hover {
  background-image: none;
  background-color: #BF8D2C;
}

.sdg-13 {
   background-image: url('assets/img/picture\ sdg\ 13.png');
}
.sdg-13:hover {
  background-image: none;
  background-color: #407F46;
}

.sdg-15 {
   background-image: url('assets/img/picture\ sdg\ 15.png');
}
.sdg-15:hover {
  background-image: none;
  background-color: #59BA48;
}

.sdg-logo {
  display: flex;
  gap: 0px;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.sdg-logo img {
  width: 364px;
  height: 645px;
  object-fit: cover;
  display: block;
  margin: 0;
  padding: 0;
  border-radius: 0;
}

.see-all {
  font-size: 14px;
  color: #007acc;
  text-decoration: none;
}

.see-all:hover {
  text-decoration: underline;
}
