.alasanPlts{
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
<<<<<<< HEAD
=======
  background-color: #527853;
  background-image: url('assets/img/background\ cara\ kerja.png');
  background-size: cover;
>>>>>>> 4a2041f446a5a2bad2ab7208d67e8140010493cb
  color: white;
}
.alasanPlts {
  background-color: #527853;
  margin-bottom: 50px;
  padding-bottom: 10px;
}
.kenapaPlts{
  padding: 40px 20px;
  max-width: 1200px;
  margin: auto;
  margin-bottom: 50px;
  background-color: #527853;
}
.judulPlts{
  text-align: center;
  margin-bottom: 50px;
}
.judulPlts h1{
  color: #D5F173;
}
.container h1 {
  font-size: 30px;
  color: #D5F173;
  text-align: center;
}
.subtitle {
  font-size: 20px;
  text-align: center;
  color: #fff;
}
.kenapaPlts .content {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  align-items: flex-start;
}
.benefits {
  flex: 1 1 40%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-right: 30px; 
  padding-left: 50px;
}
.benefits .card {
  background-color: rgba(255, 255, 255, 0.15);
  padding: 13px 13px;
  border-radius: 10px;
  color: white;
  backdrop-filter: blur(2px);
  box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
  border: 2px solid #fff;
}
.benefits .card h2 {
  color: #F9E8D9;
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 1.3em;
}
.illustration {
  flex: 1 1 35%;
  text-align: right;
  padding-left: 20px;
  padding-right: 30px;
}
.illustration img {
  width: 200%;
  max-width: 550px;
}
