<nav class="navbar">
    <a href="index.html" class="logo"><img src="./assets/img/logo.png" alt="logo"></a>
    <div class="container">
        <ul class="nav-links">
        <li><a href="index.html" class="nav-link" data-page="beranda">Beranda</a></li>
        <li><a href="Simulasi.html" class="nav-link" data-page="simulasi">Simulasi</a></li>
        <li><a href="Forum.html" class="nav-link" data-page="forum">Forum</a></li>
        <li><a href="Vendor.html" class="nav-link" data-page="vendor">Vendor</a></li>
        </ul>
    </div>
    <div class="search-bar">
        <input type="text" placeholder="Cari penyedia di kotamu...">
        <button class="search-button">
            <img src="./assets/img/Search.png" alt="search button">
        </button>
    </div>
</nav>