<section class="pengertian">
    <div class="pengertian-container">
        <div class="grid-kiri">
            <h1>PLTS ATAP TUH APA SIH</h1>
            <p>PLTS Atap itu sistem yang mengubah sinar matahari jadi listrik lewat panel surya yang dipasang di atap rumah atau bangunan. Energi yang dihasilkan bisa langsung dipakai buat kebutuhan sehari-hari dari nyalain lampu sampai ngecas HP. Selain bisa bantu hemat tagihan listrik, PLTS juga bikin kamu lebih mandiri secara energi dan pastinya lebih ramah lingkungan. Cocok banget buat kamu yang pengen mulai hidup hemat dan peduli bumi!</p>
            <div class="line"></div>
        </div>
        <div class="grid-kanan">
            <img src="/Lentera---Edukasi-Simulasi-PLTS-Atap/assets/img/plts_atap.png" alt="">
        </div>
    </div>
</section>