@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  display: none;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 0 4px 12.5px rgba(0, 0, 0, 0.4);
  top: 36px;
  left: 50px;
  right: 50px;
  z-index: 10000;
  position: fixed;
  z-index: 10000;
  width: calc(100% - 100px);
  margin: 0; /* hilangkan */
  padding: 0 50px;
  height: 80px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar.scrolled {
  background-color: rgba(255, 255, 255, 1);
}

.navbar .logo {
  font-weight: bold;
  text-decoration: none;
}

.nav-links {
  list-style: none;
  display: inline;
  padding: 0;
  margin-left: 180px;
}
.nav-links li {
  display: inline;
  margin: 0 1em;
}
.nav-links a {
  color: #000;
  padding: 0.5em 12px;
  position: relative;
  text-decoration: none;
}
.nav-links a.active {
  border-bottom: 3px solid #ee7214;
}
.search-bar {
  display: flex;
}
.search-bar input {
  padding: 10px 30px 10px 16px;
  color: #000;
  font-size: 1em;
  border: 1px solid #868e96;
  border-right: none;
  border-radius: 12px 0 0 12px;
}

.search-bar input::placeholder {
  color: #868e96;
}
.search-bar input:focus {
  border: 1px solid #868e96;
  outline: none;
  border-right: none;
}
.search-button {
  padding: 10px;
  background-color: #ee7214;
  border: none;
  border-radius: 0 12px 12px 0;
  cursor: pointer;
}

main {
  padding-top: 150px;
}

.banner {
  margin-left: 100px;
  width: calc(100% - 200px);
  height: 227px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("img/bg-pattern.png");
  background-repeat: no-repeat;
  flex-direction: column;
  text-align: center;
  margin-bottom: 60px;
}

.banner h1 {
  font-size: 48px;
  font-weight: bold;
  color: white;
  margin-bottom: 20px;
}

.banner p {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
  color: white;
}

.forum-tabs {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 30px;
}

.forum-tabs .tab {
  background: none;
  padding: 16px 18px;
  border: none;
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
}

.forum-tabs .tab:first-child {
  margin-right: 120px;
}

.forum-tabs .tab.active {
  border-bottom: 4px solid #ee7214;
}

.line-pemisah {
  width: calc(100% - 100px);
  margin: 0 50px 30px;
  height: 2px;
  border: none;
  border-radius: 1px;
  background-color: #527853;
}

.line {
  width: calc(100% - 100px);
  margin-left: 50px;
  margin-bottom: 70px;
  height: 2px;
  border: none;
  border-radius: 1px;
  background-color: #ee7214;
}

#diskusi {
  position: relative;
  height: 500px;
  overflow: hidden; /* agar yang fixed di dalamnya tidak ikut ke-scroll */
  margin-bottom: 150px;
}

#testimoni {
  position: relative;
  height: 500px;
  overflow: hidden; /* agar yang fixed di dalamnya tidak ikut ke-scroll */
  margin-bottom: 150px;
}

/* Tempat scroll-nya hanya komentar */
.comments-wrapper {
  height: calc(100% - 86px); /* 70px = tinggi question-box */
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: contain;
  padding-bottom: 30px;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

.comment {
  margin-left: 100px;
  width: calc(100% - 200px);
  border-radius: 16px;
  border: 3px solid #ee7214;
  padding: 25px 50px;
  margin-bottom: 20px;
}

.comment-header {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 9px;
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
  border: none;
}

.username {
  font-weight: 500;
  color: #000;
  font-size: 20px;
}

.comment-body {
  margin-left: 68px;
}

.comment-body p {
  font-size: 18px;
  color: #000;
  margin-bottom: 20px;
}

.icon-reply {
  display: flex;
  align-items: center;
  gap: 30px;
}

.icon-reply button {
  background: none;
  border: none;
  cursor: pointer;
}

.icon-reply span {
  font-size: 1em;
  color: #ee7214;
  cursor: pointer;
}

.icon-reply span img {
  margin-left: 12px;
}

.testi {
  margin-left: 100px;
  width: calc(100% - 200px);
  border-radius: 16px;
  border: 3px solid #ee7214;
  padding: 25px 50px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.testi-content {
  width: 100%;
}

.testi-like {
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: #ee7214;
  cursor: pointer;
  margin-left: 120px;
}

.question-box {
  margin-left: 75px;
  width: calc(100% - 150px);
  border-radius: 20px;
  border: 3px solid #527853;
  padding: 16px 50px;
  display: flex;
  align-items: center;
  position: absolute;
}

.question-box img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
  border: none;
}

.question-box button {
  padding: 8px;
  width: 48px;
  height: 48px;
  background-color: #ee7214;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.question-box input {
  color: #000;
  font-size: 1em;
  margin-left: 20px;
  border: none;
  width: 100%;
}

.question-box input::placeholder {
  color: #868e96;
}

.question-box input:focus {
  border: 1px solid #868e96;
  outline: none;
  border: none;
}

.question-box button img {
  width: 24px;
  height: 24px;
  border-radius: 0%;
  border: none;
}

.make-testimoni {
  margin-left: 75px;
  width: calc(100% - 150px);
  border-radius: 20px;
  border: 3px solid #527853;
  padding: 16px 50px;
  display: flex;
  align-items: center;
  position: absolute;
}

.make-testimoni img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
  border: none;
}

.make-testimoni button {
  padding: 8px;
  width: 48px;
  height: 48px;
  background-color: #ee7214;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.make-testimoni input {
  color: #000;
  font-size: 1em;
  margin-left: 20px;
  border: none;
  width: 100%;
}

.make-testimoni input::placeholder {
  color: #868e96;
}

.make-testimoni input:focus {
  border: 1px solid #868e96;
  outline: none;
  border: none;
}

.make-testimoni button img {
  width: 24px;
  height: 24px;
  border-radius: 0%;
  border: none;
}

/* halaman simulasi */
.content-simulasi {
  margin-left: 210px;
  width: calc(100% -  420px);
  margin-bottom: 78px;
}

.wrapper {
  margin-bottom: 40px;
  flex: 1;
}

.simulasi-header {
  display: inline-block;
  padding: 8px 100px 8px 20px;
  border: none;
  border-bottom: 2px solid #ee7214;
}

.simulasi-header h2{
  font-size: 24px;
  font-weight: 600;
}

.dropdown-kota {
  width: 100%;
  margin: 30px 0 16px 20px;
  display: block;
  padding: 24px;
  color: #868e96;
  border: 1px solid #527853;
  border-radius: 20px;
  font-size: 1em;
  appearance: none;
  background-image: url("icon/chevron-down-secondary.png");
  background-repeat: no-repeat;
  background-position: right 20px center;
  background-size: 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.dropdown-kota:focus {
  outline: none;
  border-color: #527853;
}

.simulasi-wrapper {
  display: flex;
  width: 100%;
  gap: 27px;
}

.wrapper input {
  display: block;
  width: 100%;
  margin: 30px 0 16px 20px;
  padding: 24px;
  border: 1px solid #527853;
  border-radius: 20px;
  font-size: 1em;
}

.wrapper input:focus {
  outline: none;
  border: 1px solid #527853;
}

.wrapper p {
  font-size: 1em;
  color: #DC3545;
  max-width: 480px;
}

.btn-simulasi {
  padding: 18px;
  background-color: #ee7214;
  border: none;
  color: white;
  width: 100%;
  font-size: 24px;
  font-weight: 600;
  border-radius: 37px;
  margin-top: 28px;
  cursor: pointer;
}

.hasil-simulasi {
  width: calc(100% - 360px);
  margin-bottom: 150px;
  margin-left: 180px;
  display: none;
}

.judul-hasil {
  padding: 26px 0;
  border-top: 1px solid #ee7214;
  border-bottom: 1px solid #ee7214;
  width: 1000px;
  margin-left: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

.hasil {
  padding: 54px 64px;
  width: 100%;
  background-color: white;
  box-shadow: 0 4px 12.5px rgba(0, 0, 0, 0.4);
  border: none;
  border-radius: 52px;
  display: flex;
}

.wrapper-hasil {
  background-color: #235842;
  border: none;
  border-right: 1px solid white;
  flex: 1;
  padding: 60px 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.wrapper-hasil:first-child {
  border-radius: 20px 0 0 20px;
}

.wrapper-hasil:last-child {
  border-radius: 0 20px 20px 0;
  border: none;
}

.wrapper-hasil span {
  font-size: 38px;
  font-weight: bold;
  color: #D5F173;
}

.wrapper-hasil p {
  font-size: 24px;
  font-weight: 500;
  color: white;
}

.footer {
  background-color: #222;
  color: #ccc;
  text-align: center;
  padding: 1em;
  position: relative;
  bottom: 0;
  width: 100%;
}

/* Hasil Cari */
.judul {
  font-size: 64px;
  font-weight: bold;
  width: 100%;
  text-align: center;
  margin: 30px 0 60px;
}
.grid{
    display: flex;
    align-items: center;
    /* text-align: center; */
    justify-content: center;
    gap: 18px;
    margin-top: 40px;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 50px;
}
.card{
    border: 2.5px solid #EE7214;
    padding: 10px;
    border-radius: 25px;
    transition: box-shadow 0.3s ease;

}
.card:hover{
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.card .foto{
    width: 370px;
}
.card h3{
    padding: 8px 10px;
    color: #EE7214;
}
.features{
    margin-left: 9px;
}
.features li {
    text-decoration: none;
    list-style: none;
}
.features li img{
    width: 15px;
    margin-right: 4px;
}
.card .visit-btn{
    width: 100%;
    background-color: #EE7214;
    color: #fff;
    text-decoration: none;
    padding: 10px 0;
    display: block;
    text-align: center;
    border-radius: 50px;
    margin-top: 12px;
    font-weight: 700;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    padding: 20px 50px;
    flex-wrap: wrap;
    font-family: sans-serif;
    padding-bottom: 50px;
}

.pagination a,
.pagination .dots {
  padding: 8px 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  text-decoration: none;
  color: #333;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.pagination .active {
  background-color: #14532d; /* hijau tua */
  color: rgb(255, 255, 255);
  border-color: #14532d;
}

.pagination a:hover:not(.active) {
  background-color: #f0f0f0;
}

.pagination .dots {
  pointer-events: none;
  color: #999;
}
.pagination .next{
    /* background: #14532d; */
    color: #333;
}
.pagination .next:hover{
    color: #333;
}

/* HOME */

.hero{
  display: flex;
  scroll-behavior: smooth;
  background: url(./img/banner-homepage.png) no-repeat;
  background-size: cover;
  background-position: center;
  align-items: center;
  min-height: 100vh;
  
}
.hero-container{
  /* display: flex; */
  /* align-items: center; */
  /* height: 100vh; */
  /* position: relative; */
  width: 60%;
  margin-left: 0px;
}

.hero-container .hero-text{
  position: relative;
  margin-top: 90px;
  z-index: 2;
  margin-left: 90px;
  color: #fff;
}

.hero-text {
  max-width: 700px;
}

.hero-text h1{
  min-width: 100px;
}
.hero-container img{
  position: absolute;
  margin: -240px -200px;
  
}

.hero-text .titik {
  color: #ee7214;
}

.hero-container h1{
  color: #fff;
  font-size: 52px;
  font-weight: 900;
  line-height: 53px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.hero-container h1 span{
  color: #F7B787;
  display: inline;
}

.hero-container p{
  margin-top: 40px;
  max-width: 85%;
  color: #fff;
  font-size: 20px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  margin-bottom: 60px;
}

 .hero-text .button{
   /* display: inline-block;  */
  color: #fff;
  text-decoration: none;
  background: #EE7214;
  padding: 11px 35px;
  font-weight: 600;
  font-size: 24px;
  border-radius: 50px;
  transition: transform 0.3s ease;
}
.hero-text .button:hover{
  transform: scale(1.6);
  background-color: #235842;;
}

/* pengertian */
.pengertian-container{
  display: flex;
  margin: 150px 90px 0px 90px;
  gap: 80px;
}
.grid-kiri{
  background-color: #527853;
  color: #fff;
  padding: 70px 35px 50px 35px;
  border-radius: 80px 20px 80px 20px;
  width: 50%;
  max-height: 400px;
  margin: auto;
}
.grid-kiri h1{
  margin-bottom: 20px;
  color: #D5F173;
  font-size: 2.3em;
}
.grid-kiri p{
  font-size: 1.1em;
}
.line-GRID{
  color: #D5F173;
  border: 2px solid #D5F173;
  width: 40%;
  margin: auto;
  margin-top: 20px;
}
.grid-kanan img{
  max-width: 450px;
}


.infografis {
  width: calc(100% - 360px);
  margin-top: -120px;
  margin-bottom: 300px;
  margin-left: 180px;
  position: absolute;
}

/* mitosFakta */


/* caraKerja */
.carakerja{
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}
.caraKerja {
  padding: 90px 40px;
  margin-top: 50px;
  max-width: 1200px;
  margin: auto;
  color: #235842;
}
.caraKerja h1 {
  text-align: left;
  color: #235842;
  margin-bottom: 60px;
  margin-left: -25px;
  margin-top: 0; /* Menghindari jarak atas berlebih */
}
.content {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: flex-start;
  margin-left: -25px;
}
.image-section {
  flex: 2;
  max-width: 50%;
}
.image-section img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0 10px #ccc;
}
.info-section {
  flex: 2;
}
.step {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  margin-bottom: 25px;
}
.step img {
  width: 50px;
  height: auto;
}
.step h3 {
  margin: 0;
  color: #235842;
}
.step p {
  margin-top: 5px;
  font-size: 0.95rem;
  color: #575757;
}
.icon-circle {
  background-color: #235842;
  border-radius: 50%;
  padding: 10px;
  width: 60px;
  height: auto;
  object-fit: contain;
}

/* KenapaPlts */
.alasanPlts {
  background-color: #527853;
  margin-bottom: 50px;
  padding-bottom: 10px;
  /* background-image: url(./img/pattern.png);
   background-size: cover;
  background-position: center;
  align-items: center;bac */
}
.kenapaPlts{
  padding: 70px 20px;
  max-width: 1200px;
  margin: auto;
  margin-bottom: 50px;
  background-color: #527853;
}
.judulPlts{
  text-align: center;
  margin-bottom: 50px;
}
.judulPlts h1{
  color: #D5F173;
}
.kenapaPlts h1 {
  font-size: 30px;
  color: #D5F173;
  margin-bottom: 10px;
  text-align: center;
}
.subtitle {
  font-size: 20px;
  margin-bottom: 30px;
  text-align: center;
  color: #fff;
}
.kenapaPlts .content {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  align-items: flex-start;
  /* border: 5px solid red; */
}
.benefits {
  flex: 1 1 40%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 400px;
  /* border: 3px solid red; */
}
.benefits .card {
  background-color: rgba(255, 255, 255, 0.15);
  padding: 13px 10px;
  border-radius: 10px;
  color: white;
  backdrop-filter: blur(2px);
  box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
  border: 2px solid #fff;
  /* border: 3px solid red; */
  height: 120px;
  width: 100%;
  
}
.benefits .card h2 {
  color: #F9E8D9;
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 1.3em;
}
.illustration {
  flex: 1 1 35%;
  text-align: right;
}
.illustration img {
  width: 100%;
  max-width: 480px;
}


/* MITOS FAKTA */
.mitosFakta{
  display: flex;
  flex-direction: column;
  background: #fff;
  max-width: 1000px;
  min-height: 100vh;
  margin: 90px auto;
  font-family: sans-serif;
  align-items: center;
  text-align: center;
  /* padding: 10%; */
  border: 2px solid red;
}
.mitosFakta h2{
  color: #EE7214;
  font-size: 2rem;
  margin-bottom: 20px;
}
.mitosFakta .desc{
  margin-bottom: 30px;
  color: #575757;
  font-weight: 700;
  font-size: 1.1em;
}
.mitosFakta .cards{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* gap: 0px; */
  width: 100%;
  /* gap: -100px; */
}
.mitosFakta .card{
  width: 100%;
  max-width: 900px;
  /* gap: -90px; */
  /* border: 2px solid blue; */
  /* padding-bottom: -50px; */
  /* margin-bottom: -100px; */
  height: 100px;
}
.card .card-mitos{
  border: 2px solid #EE7214;
  border-radius: 15px;
  margin-top: 0px;
  display: flex;
  padding: 15px 15px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: all .3s ease-in-out;
}
.card-mitos span{
  font-weight: 700;
}
.card-toggle i{
  /* padding: 10px 10px; */
  background-color: #EE7214;
  color: #ffff;
  border-radius: 500px;
}
.card .card-mitos p{
  text-align: left;
  font-size: 1em;
  font-weight: 600;
  color: #575757;
 
}
.card .card-fakta{
  max-height: 0;
  overflow: hidden;
  width: 100%;
  /* padding: 10px 0px; */
  padding: 0px 15px;
  transition: max-height 0.5s ease, padding 0.5s ease;
}
.card.active .card-fakta{
  max-height: 300px;
  margin-top: 0px;
  padding: 0px 15px;
  transition: max-height 0.5s ease, padding 0.5s ease;
}
.card .card-fakta p{
  /* background-color: #235842; */
  color: #fff;
  /* padding: 5px 15px; */
  text-align: left;
  width: 100%;
  font-size: 0.95em;
}
.card.active{
  background-color: #235842;
  border-radius: 15px;
  gap: 10px;
  transition: all .5s ease-out;
  /* margin: 8px 0; */
}
.card.active .card-mitos{
  border: none;
}
.card.active .card-mitos p{
  color: #F9E8D9;
}
.card.active .card-mitos .card-toggle{
  transform: rotate(180deg);
  color: #EE7214;
  /* background-color: #fff; */
    transition: all .3s ease;

}


/* SDGs */

.sdgs-section {
  padding: 40px 20px;
  text-align: center;
  margin: 60px 0;
  padding: 30px 0;
}

.sdgs-text h1 {
  font-size: 24px;
  font-weight: bold;
  color: #235842;
  margin-bottom: 40px;
  line-height: 1.5;
}

.highlight-orange {
  color: #f68c1f; /* Warna oranye sinar matahari */
}

.highlight-red {
  color: #f68c1f; /* Warna langkah */
}

.highlight-sdgs {
  color: #f68c1f; /* Warna biru SDGs */
}

.sdgs-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

.sdg-item img {
  width: 100%;
  height: auto;
  border-radius: 4px;
  margin: 0;
  padding: 0;
}

.sdg-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sdg-logo img {
  width: 120px;
  margin-bottom: 8px;
}

.see-all {
  font-size: 14px;
  color: #007acc;
  text-decoration: none;
}

.see-all:hover {
  text-decoration: underline;
}
